./data/type1
./data/type2

# $find . -size +50M | cat >> .gitignore

./data/type2/DP1611_MAASTRICHT2_2013.txt
./data/type2/DP1611_MAASTRICHT2_2012.txt
./data/processed/firm_sizes.csv
./data/processed/buyr_sizes.csv
