# $find . -size +50M | cat >> .gitignore

./data/

./.git/objects/pack/pack-34220b53e35c1b6cf3c4941a17eeaf11002a56e7.pack
./notebooks/firm_log_VART_stats.csv
./data/type2/DP1611_MAASTRICHT2_2013.txt
./data/type2/DP1611_MAASTRICHT2_2012.txt
./.git/objects/pack/pack-34220b53e35c1b6cf3c4941a17eeaf11002a56e7.pack
./notebooks/buyer_seller_link_value.csv
./notebooks/units_qv.csv
./notebooks/firm_log_VART_stats.csv
